.contactList {
  margin: 0;
  padding: 0;
}

.contactItem {
  display: flex;
  align-items: center;
  padding: 4px 8px;
}

.contactItem:not(:first-child) {
  /* margin-top: 8px; */
  color: #212121;
}

.contactName {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 600;
}

.contactNumber {
  margin: 0 4px 0 auto;
}

.delButton {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 20px;
  height: 20px; */
  padding: 0;
  background-color: transparent;
  border: none;
  /* border-radius: 50%; */
  cursor: pointer;
  color:#212121;

  transition: color 250ms linear;
}

.delButton:hover {
  color: red;
}

/* .icon {
  width: 20px;
  fill: currentColor;
  height: auto;
} */
