.contactList {
  margin: 16px 0 0 0;
  padding: 0;
}

.contactItem {
  display: flex;
  align-items: center;
}

.contactItem:not(:first-child) {
  margin-top: 8px;
}

.contactName {
  font-size: 16px;
  font-weight: 600;
}

.contactNumber {
  margin: 0 16px 0 auto;
}

.delButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color:#212121;

  transition: color 250ms linear, background-color 250ms linear;
}

.delButton:hover {
  background-color: red;
  color: white;
}

.icon {
  width: 20px;
  fill: currentColor;
  height: auto;
}
